<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'navbar/styles.css' %}">
    {% block pageStyles %}{% endblock %}
    <title>{% block title %}Auto Haven{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'navbar/logo.png' %}" alt="Auto Haven Logo">
        </div>
        <nav>
            <ul class="auth-buttons">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'catalog' %}">Catalog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}" class="profile-btn">Profile</a></li>
                    <li>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="logout-btn">Log Out</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                {% else %}
                    <li><a href="{% url 'register' %}" class="register-btn">Register</a></li>
                    <li><a href="{% url 'login' %}" class="login-btn">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
