{% extends 'base.html' %}

{% block title %}Catalog - Auto Haven{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'catalog.css' %}">

<div class="page_body">
    <div class="catalog_body">

        <input type="text" class="catalog_search_input" placeholder="Search for cars..">

        <div class="catalog_title_text">New and used vehicles for sale</div>
        

        <div class="catalog_main">

            <div class="left_column">
                <div class="catalog_filter">

                    <form method="get" action="{% url 'catalog' %}">

                        <script>
                            // Function to ensure on numeric input in input field
                            function validateNumericInput(event) {
                                const input = event.target;
                                input.value = input.value.replace(/[^0-9]/g, '');

                            }

                            function reset_form() {
                                window.location.href = "{% url 'catalog' %}";
                            }
                        </script>
                    
                        <div class="catalog_filter_header">
                            <l class="catalog_h3">Search</l>
                            
                            <div>
                                <button type="reset" class="filter_button" onclick="reset_form()">Reset</button>
                                <button type="submit" class="filter_button">Filter</button>
                            </div>

                        </div>
            
                        <div class="catalog_filter_controls">
    
                            <l class="catalog_h4">Offering Type</l>
                            <select name="offering_type" class="catalog_filter_select">
                                <option value="">All</option>
                                <option value="new" {% if request.GET.offering_type == "new" %}selected{% endif %}>New</option>
                                <option value="used" {% if request.GET.offering_type == "used" %}selected{% endif %}>Second Hand</option>
                            </select>
                 
                            <l class="catalog_h4">Brand</l>
                            <select name="brand" class="catalog_filter_select">
                                <option value="">All brands</option>
                                {% for brands in brand %}
                                <option value="{{brands.brand}}" {% if request.GET.brand == brands.brand %}selected{% endif %}>{{brands.brand}}</option>
                                {% endfor %}
                            </select>
    
                            <l class="catalog_h4">Model</l>
                            <select name="model" class="catalog_filter_select">
                                <option value="">All models</option>
                                {% for models in model %}
                                <option value="{{models.model}}" {% if request.GET.model == models.model %}selected{% endif %}>{{models.model}}</option>
                                {% endfor %}
                            </select>
    
                            <l class="catalog_h4">Body Type</l>
                            <select name="body_type" class="catalog_filter_select">
                                <option value="">All body types</option>
                                {% for types in body_type %}
                                <option value="{{types.body_type}}" {% if request.GET.body_type == types.body_type %}selected{% endif %}>{{types.body_type}}</option>
                                {% endfor %}
                            </select>
    
                            <l class="catalog_h4">Engine Type</l>
                            <select name="engine_type" class="catalog_filter_select">
                                <option value="">All engine types</option>
                                {% for types in engine_type %}
                                <option value="{{types.engine_type}}" {% if request.GET.engine_type == types.engine_type %}selected{% endif %}>{{types.engine_type}}</option>
                                {% endfor %}
                            </select>
    
                            <l class="catalog_h4">Price maximum</l>
                            <input name="price" type="number" value="{{request.GET.price}}" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum price..">
    
                            <l class="catalog_h4">Year maximum</l>
                            <input name="year" type="number" value="{{request.GET.year}}" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum year..">
    
                            <l class="catalog_h4">Mileage maximum</l>
                            <input name="mileage" type="number" value="{{request.GET.mileage}}" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum mileage..">
                            
                        </div>
          
                    </form>  
        
                </div>
            </div>

            <div class="right_column">
                <div class="catalog_results">

                    <ul class="catalog_list">
                        {% for item in listing %}

                        {% if item.listing.type == "new" %}

                        <li class="catalog_list_item list_item_new">

                            {%if item.image %}
                            <img class="catalog_image" src="{{item.image.imagepath.url}}" class="catalog_image">
                            {% else %}
                            <p class="catalog_image">No image available</p>
                            {% endif %}

                            <div class="list_item_description">
                                <l class="list_item_description_text">{{item.listing.brand}}</l>
                                <l class="list_item_description_text">{{item.listing.model}}</l>
                                <l class="list_item_description_text">{{item.listing.year}}</l>
                                <l class="list_item_description_text">{{item.listing.price}} $</l>
                                <form action="{% url 'listing_detail' item.listing.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ item.listing.id }}">
                                    <button type="submit" class="btn btn-primary list_item_button">View Offer</button>
                                </form>
                            </div>

                            
                        </li>


                        {% else %}

                        <li class="catalog_list_item list_item_used">

                            {%if item.image %}
                            <img class="catalog_image" src="{{item.image.imagepath.url}}" class="catalog_image">
                            {% else %}
                            <p class="catalog_image">No image available</p>
                            {% endif %}

                            <div class="list_item_description">
                                <l class="list_item_description_text">{{item.listing.brand}}</l>
                                <l class="list_item_description_text">{{item.listing.model}}</l>
                                <l class="list_item_description_text">{{item.listing.year}}</l>
                                <l class="list_item_description_text">{{item.listing.price}} $</l>
                                
                                <form action="{% url 'listing_detail' item.listing.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="listing_id" value="{{ item.listing.id }}">
                                    <button type="submit" class="btn btn-primary list_item_button">View Offer</button>
                                </form>
                            </div>

                            
                        </li>

                        {% endif %}

                        {% endfor %}
                        
                    </ul>

                </div>

            </div>

        </div>

        <div class="catalog_footer">

            <div class="footer_left">

                <div class="catalog_h3">AutoHaven</div>
                <div class="catalog_h3">Ernst-Reuter Platz 10</div>
                <div class="catalog_h3">Berlin - 10587</div>

                <img src="{% static 'images/link_image.png' %}" class="footer_link_image">


            </div>

            <div class="footer_right">

                <div class="footer_links_left">
                    <div class="bolder_text">About Us</div>
                    <div class="light_text">Careers</div>
                    <div class="light_text">Compliance</div>
                    <div class="light_text">Page</div>
                </div>

                <div class="footer_links_right">
                    <div class="bolder_text">All Cars</div>
                    <div class="light_text">New Cars</div>
                    <div class="light_text">Second Hand Cars</div>
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}
