<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel = "stylesheet" href="{% static '/catalog.css' %}">

<div class="catalog_navbar">
    <l>Navbar here</l>
</div>

<div class="page_body">
    <div class="catalog_body">

        <input type="text" class="catalog_search_input" placeholder="Search for cars..">
    
        <l class="catalog_title_text">New and used vehicles for sale</l>
    
        <div class="catalog_main">
    
            <div class="left_column">
                <div class="catalog_filter">

                    <script>
                        // Function to ensure on numeric input in input field
                        function validateNumericInput(event) {
                            const input = event.target;
                            input.value = input.value.replace(/[^0-9]/g, '');
                        }
                    </script>
                
                    <div class="catalog_filter_header">
                        <l class="catalog_h3">Search</l>
                        <button class="filter_button">Filter</button>
                    </div>
        
                    <div class="catalog_filter_controls">

                        <l class="catalog_h4">Offering Type</l>
                        <select class="catalog_filter_select">
                            <option value="new">New</option>
                            <option value="used">Second Hand</option>
                        </select>
             
                        <l class="catalog_h4">Brand</l>
                        <select class="catalog_filter_select">
                            <option value="">All brands</option>
                            {% for brands in brand %}
                            <option value="{{brands.brand}}">{{brands.brand}}</option>
                            {% endfor %}
                        </select>

                        <l class="catalog_h4">Model</l>
                        <select class="catalog_filter_select">
                            <option value="">All models</option>
                            {% for models in model %}
                            <option value="{{brands.brand}}">{{models.model}}</option>
                            {% endfor %}
                        </select>

                        <l class="catalog_h4">Body Type</l>
                        <select class="catalog_filter_select">
                            <option value="">All body types</option>
                            {% for types in body_type %}
                            <option value="{{brands.brand}}">{{types.body_type}}</option>
                            {% endfor %}
                        </select>

                        <l class="catalog_h4">Engine Type</l>
                        <select class="catalog_filter_select">
                            <option value="">All engine types</option>
                            {% for types in engine_type %}
                            <option value="{{brands.brand}}">{{types.engine_type}}</option>
                            {% endfor %}
                        </select>

                        <l class="catalog_h4">Price maximum</l>
                        <input type="number" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum price..">

                        <l class="catalog_h4">Year maximum</l>
                        <input type="number" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum year..">

                        <l class="catalog_h4">Mileage maximum</l>
                        <input type="number" class="catalog_filter_select" oninput="validateNumericInput(event)" placeholder="Enter maximum mileage..">
                        
                    </div>
        
        
                </div>
            </div>
    
            <div class="right_column">
                <div class="catalog_results">
                    
                    <ul class="catalog_list">
                        {% for item in listing %}

                        {% if item.listing.type == "new" %}

                        <li class="catalog_list_item list_item_new">

                            {%if item.image %}
                            <img class="catalog_image" src="{{item.image.imagepath.url}}" class="catalog_image">
                            {% else %}
                            <p class="catalog_image">No image available</p>
                            {% endif %}

                            <div class="list_item_description">
                                <l class="list_item_description_text">{{item.listing.brand}}</l>
                                <l class="list_item_description_text">{{item.listing.model}}</l>
                                <l class="list_item_description_text">{{item.listing.year}}</l>
                                <l class="list_item_description_text">{{item.listing.price}} $</l>
                                <button class="list_item_button">View Offer</button>  
                            </div>

                            
                        </li>


                        {% else %}

                        <li class="catalog_list_item list_item_used">

                            {%if item.image %}
                            <img class="catalog_image" src="{{item.image.imagepath.url}}" class="catalog_image">
                            {% else %}
                            <p class="catalog_image">No image available</p>
                            {% endif %}

                            <div class="list_item_description">
                                <l class="list_item_description_text">{{item.listing.brand}}</l>
                                <l class="list_item_description_text">{{item.listing.model}}</l>
                                <l class="list_item_description_text">{{item.listing.year}}</l>
                                <l class="list_item_description_text">{{item.listing.price}} $</l>
                                <button class="list_item_button">View Offer</button>  
                            </div>

                            
                        </li>

                        {% endif %}

                        {% endfor %}
                        
                    </ul>
    
                </div>
    
            </div>
    
        </div>
    
        <div class="catalog_footer">
    
            <div class="footer_left">
        
                <l class="catalog_h3">AutoHaven</l>
                <l class="catalog_h3">Ernst-Reuter Platz 10</l>
                <l class="catalog_h3">Berlin - 10587</l>
        
                <img src="{% static 'images/link_image.png'%}" class="footer_link_image">
            
        
            </div>
        
            <div class="footer_right">
        
                <div class="footer_links_left">
                    <l class="bolder_text">About Us</l>
                    <l class="light_text">Careers</l>
                    <l class="light_text">Compliance</l>
                    <l class="light_text">Page</l>
                </div>
        
        
                <div class="footer_links_right">
                    <l class="bolder_text">All Cars</l>
                    <l class="light_text">New Cars</l>
                    <l class="light_text">Second Hand Cars</l>
                </div>
        
            </div>
        
        </div>
    
</div>

</div>

</html>