{% extends 'base.html' %}
{% block title %}Change Password - Auto Haven{% endblock %}
{% block pageStyles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}"></link>
{% endblock %}
{% block content %}
    <section class="content">
        <form method="post" action="{% url 'change-password' %}">
        {% csrf_token %}
        <h1>Change password</h1>
        {% for field in form %}
        <div class="row">
            <div class="column">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="column">
                <button id="submit-form-btn" type="submit" class="button button-black">Change password</button>
            </div>
        </div>
        </form>
    </section>
{% endblock %}