{% extends 'base.html' %}

{% block title %}Landing Page - Auto Haven{% endblock %}
{% block pageStyles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing_page.css' %}">
{% endblock %}
{% block content %}
<div class="landing_page_body">

    <div class="landing_page_grid_item landing_page_title">
        <div class="landing_page_title_text">AutoHaven</div>
        <div class="landing_page_subtitle_text">Cars that will take you to heaven!</div>
    </div>

    <div class="landing_page_grid_item image_text_div">

        <div class="landing_page_grid_div">
            <div class="landing_page_h2">New Cars</div>
            <div class="landing_page_subtitle_text">View the selection of brand new cars,</div>
            <div class="landing_page_subtitle_text">available only on AutoHaven!</div>
            <a href="{% url 'catalog' %}?offering_type=new">
                <button class="landing_page_button">Go to New Cars</button>
            </a>
        </div>

        <div class="landing_page_image_div">
            <img src="{% static 'images/Landing_Page_1.png' %}" class="landing_page_image">
        </div>
    </div>

    <div class="landing_page_grid_item image_text_div">

        <div class="landing_page_image_div">
            <img src="{% static 'images/Landing_Page_2.png' %}" class="landing_page_image">
        </div>

        <div class="landing_page_grid_div">
            <div class="landing_page_h2">Second Hand Cars</div>
            <div class="landing_page_subtitle_text">View the best deals on second hand cars,</div>
            <div class="landing_page_subtitle_text">and give them a new spark, only on AutoHaven!</div>
            <a href="{% url 'catalog' %}?offering_type=used">
                <button class="landing_page_button">Go to Second Hand Cars</button>
            </a>
        </div>

    </div>
    <div class="landing_page_grid_item landing_page_seller_info">
        <div class="landing_page_h2">Become a Seller</div>

        <div class="landing_page_text_box">
            <img src="{% static 'images/globe_image.png' %}" class="landing_page_icon">
            <div class="landing_page_h3">Increased Visibility</div>
            <div class="landing_page_subtitle_text multi_line">As a seller on our platform, your inventory of cars will be showcased to a wide audience of potential buyers. Auto Haven Berlin attracts car enthusiasts, first-time buyers, and collectors alike.</div>
        </div>

        <div class="landing_page_text_box">
            <img src="{% static 'images/lock_image.png' %}" class="landing_page_icon">
            <div class="landing_page_h3">Verified Sellers</div>
            <div class="landing_page_subtitle_text multi_line">Buyers trust Auto Haven Berlin because we verify the identity of our sellers. Being part of our network adds credibility to your dealership.</div>
        </div>
        
    </div>

    <div class="landing_page_grid_item spacing"></div>
</div>
{% endblock %}
