{% extends 'base.html' %}

{% block title %}Reset Password - Auto Haven{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .reset-container {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: center;
        margin: 100px auto;
    }
    .reset-container h1 {
        margin-bottom: 10px;
        font-size: 32px;
        color: #000;
    }
    .reset-container p {
        margin-bottom: 20px;
        color: #666;
    }
    .reset-container input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .reset-container button {
        width: calc(100% - 20px);
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .reset-container .reset-button {
        background-color: black;
    }
    .reset-container .reset-button:hover {
        background-color: #333;
    }
    .error-message {
        color: red;
        margin-bottom: 15px;
    }
</style>
<div class="reset-container">
    <h1>Reset your password</h1>
    <p>Enter your new password</p>
    {% if form.errors %}
        <div class="error-message">There was an error resetting your password. Please try again.</div>
        {{form.errors}}
        {% endif %}
    <form action="{% url 'password-reset-confirm' username %}" method="post">
        {% csrf_token %}
        <input type="password" id="new-password" name="new_password" placeholder="New password" required>
        <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm new password" required>
        <button type="submit" class="reset-button">Reset password</button>
    </form>
</div>
{% endblock %}
