{% extends 'base.html' %}

{% block title %}Forgot Password - Auto Haven{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .login-container {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        margin: 100px auto;
    }
    .login-container h1 {
        margin-bottom: 10px;
        font-size: 32px;
        color: #000;
    }
    .login-container p {
        margin-bottom: 16px;
        font-size: 14px;
        color: #000;
    }
    .login-container input {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .login-container button {
        width: calc(100% - 20px);
        padding: 10px;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .login-container .login-button {
        background-color: #888;
    }
    .login-container .login-button:hover {
        background-color: #777;
    }
    .error-message {
        color: red;
        margin-bottom: 15px;
    }
</style>
<div class="login-container">
    <h1>Reset your password</h1>
    <p>Enter your username to reset your password</p>
    {% if form.errors %}
        <div class="error-message">Invalid username. Please try again.</div>
    {% endif %}
    <form action="{% url 'password-reset' %}" method="post">
        {% csrf_token %}
        <input type="text" id="username" name="username" placeholder="username" required>
        <button type="submit" class="login-button">Continue</button>
    </form>
</div>
{% endblock %}
