main {
    font-family: "Inter", sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: larger;
}

.content {
    flex-basis: 50%;
    > * {
        width: 100%;
    }
}

h1, h2 {
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}

form {
    text-align: left;
    margin-bottom: 40px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 0.8em;
}

input {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8em;
}

.button {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 0.8em;
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button-black {
    background-color: #000;
    color: #fff;
}

.button-blue {
    background-color: #34ADF1;
    color: #fff;
}

.button-smaller {
    width: max-content;
    padding: 1em 1.2em;
}

.listings, .order-history, .offers-received {
    text-align: left;
    margin-top: 40px;
}

.listings h2, .order-history h2, .offers-received h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.pagination {
    text-align: end;
    padding-top: 0.5em;
    .step-links {
        margin-right: 2.8em;
    }
} 

th, td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    font-size: 0.8em;
    white-space: nowrap;
}

th {
    /* background-color: #f4f4f9; */
    font-size: 1em;
    font-weight: bold;
}

td.id, td.date {
    color: gray;
}

td.

/* .button-style {
    display: inline-block;
    padding: 2px 8px;
    margin: 0;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    font-size: 0.8em;
} */

.status-button {
    display: inline-block;
    padding: 2px 8px;
    margin: 0;
    border-radius: 4px;
    font-size: 0.8em;
    color: #fff;
}

.status-accepted {
    background-color: green;
}

.status-declined {
    background-color: red;
}

td.model {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
    font-size: 1em;
}

.update-button {
    display: inline-block;
    padding: 0.3em 1.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #808080;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.action-cell {
    width: 200px;
    text-align: center;
    white-space: nowrap;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-buttons .button {
    width: auto;
    padding: 5px 10px;
    font-size: 0.8em;
}

.button-accept {
    background-color: green;
    color: white;
}

.button-decline {
    background-color: red;
    color: white;
}
