{% extends 'base.html' %}
{% block title %}
    {% if listing is None %}New Listing{% else %}Listing ID: {% endif %}
{% endblock %}
{% block pageStyles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new_listing.css' %}">
{% endblock %}
{% block content %}
    <section class="content">
    {% if listing is None%}
    <form action="{% url 'new-listing' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="column">
                <h1>New Listing</h1>
                <span>Fill in your listing information to create a new listing</span>
                <div class="row">
                    <div class="column">
                        {{ form.title.errors }}
                        {{ form.tile.label_tag }}
                        {{ form.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.brand.errors }}
                        {{ form.brand.label_tag }}
                        {{ form.brand }}
                    </div>
                    <div class="column">
                        {{ form.model.errors }}
                        {{ form.model.label_tag }}
                        {{ form.model }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.year.errors }}
                        {{ form.year.label_tag }}
                        {{ form.year }}
                    </div>
                    <div class="column">
                        {{ form.body_type.errors }}
                        {{ form.body_type.label_tag }}
                        {{ form.body_type }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.engine_type.errors }}
                        {{ form.engine_type.label_tag }}
                        {{ form.engine_type }}
                    </div>
                    <div class="column">
                        {{ form.mileage.errors }}
                        {{ form.mileage.label_tag }}
                        {{ form.mileage }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.price.errors }}
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button type="submit" class="button button-blue">Add images to listing</button>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button type="submit" class="button button-black">Save listing</button>
                    </div>
                </div>
            </div>
            <div class="column" id="images-container">
                <div class="row">
                    <div class="column">
                        <img>
                    </div>
                    <div class="column">
                        X
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="row">
                            <div class="column">
                                <img>
                            </div>
                            <div class="column">
                                X
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="column">
                                <img>
                            </div>
                            <div class="column">
                                X
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="row">
                            <div class="column">
                                <img>
                            </div>
                            <div class="column">
                                X
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </section>
    {% endif %}
{% endblock %}
