<!DOCTYPE html>
<html>
<head>
    <title>
        {% if listing is None%}New Listing{% else %}Listing ID: {% endif %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="content">
        {% if listing is None%}
        <form action="{% url 'new-listing' %}" method="post">
            {% csrf_token %}
            <h1>New Listing</h1>
            <fieldset>
                <legend><h1>Test</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <input type="radio" name="choice" id="testInput" value="value">
                <label for="testInput">Test</label><br>
            </fieldset>
            <input type="submit" value="Vote">
            </form>
        {% endif %}
    </section>
</body>
</html>
