{% extends 'base.html' %}
{% block title %}
    {% if listing is None %}New Listing{% else %}Listing ID: {{ listing.id }}{% endif %}
{% endblock %}
{% block pageStyles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'listings/css/new_listing.css' %}">
    <script src="{% static 'listings/js/create_update_listing.js' %}"></script>
{% endblock %}
{% block content %}
    <section class="content">
    <form id="new-listing-form" action="{% if listing %}{% url 'manage-listing' listing.id %}{% else %}{% url 'new-listing' %}{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="column">
                <h1>{% if listing %}Listing ID: {{ listing.id }}{% else %}New Listing{% endif %}</h1>
                <span>Fill in your listing information to {% if listing is None %}create a new listing{% else %}edit the current listing{% endif %}</span>
                <div class="row">
                    <div class="column">
                        {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.brand.errors }}
                        {{ form.brand.label_tag }}
                        {{ form.brand }}
                    </div>
                    <div class="column">
                        {{ form.model.errors }}
                        {{ form.model.label_tag }}
                        {{ form.model }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.year.errors }}
                        {{ form.year.label_tag }}
                        {{ form.year }}
                    </div>
                    <div class="column">
                        {{ form.body_type.errors }}
                        {{ form.body_type.label_tag }}
                        {{ form.body_type }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.engine_type.errors }}
                        {{ form.engine_type.label_tag }}
                        {{ form.engine_type }}
                    </div>
                    
                    <div class="column" {% if form.type.value == Listing.NEW %} style="display: none " {% endif  %}>
                        {{ form.mileage.errors }}
                        {{ form.mileage.label_tag }}
                        {{ form.mileage }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.price.errors }}
                        {{ form.price.label_tag }}
                        {{ form.price }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{ form.listingImages.errors }}
                        {{ form.listingImages }}
                        {{ form.imagesToDelete }}
                        {{ form.listingImages.value | json_script:"listing-images" }}
                        {% load static %}
                        {% get_media_prefix as media_prefix %}
                        {{ media_prefix |json_script:"media-prefix" }}
                        <button id="add-images-btn" class="button button-blue">Add images to listing</button>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button id="submit-form-btn" type="submit" class="button button-black">Save listing</button>
                    </div>
                </div>
                {% if listing %}
                <div class="row">
                    <div class="column">
                        <button id="delete-btn" name="delete" type="submit" class="button button-red">Delete listing</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="column" id="images-container">
                <div class="row">
                    <div class="column" id="main-image-container">
                    </div>
                </div>
                <div class="row" id="other-images-container">    
                </div>
                <div class="row">
                    <div class="column" id="text-images-container">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </section>
{% endblock %}
