{% extends 'base.html' %}
{% block title %}My Profile - Auto Haven{% endblock %}
{% block pageStyles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}"></link>
{% endblock %}
{% block content %}
    <section class="content">
    {% include 'profile/profile.html'%}
    
    {% if is_super_user %}
        {% include 'profile/sellers.html'%}
    {% endif %}

    {% if is_super_user %}
        {% include 'profile/superuser_listings.html' %}
    {% else %}
        {% include 'profile/listings.html' %}
    {% endif %}

    
    {% include 'profile/orders.html'%}
   
  
    </section>
{% endblock %}