<div class="listings">
    <h2>My Listings</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Model</th>
                <th>Price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Django Template Loop for Listings -->
            {% for listing in listings_page_obj %}
            <tr>
                <td class="title">{{ listing.title }}</td>
                <td class="model">{{ listing.model }}</td>
                <td class="price"><span class="button-style">${{ listing.price }}</span></td>
                <td class="date"><span class="button-style">{{ listing.created_at|date:"M d Y" }}</span></td>
                <td class="status"><span class="button-style">{{ listing.sold|yesno:"Sold,Available,Missing Information" }}</span></td>
                <td class="action-cell"><a href="{% url 'manage-listing' listing.id %}" class="table-action-button">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if listings_page_obj.has_previous %}
                <a href="?listings_page=1">&laquo; first</a>
                <a href="?listings_page={{ listings_page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ listings_page_obj.number }} of {{ listings_page_obj.paginator.num_pages }}.
            </span>
            {% if listings_page_obj.has_next %}
                <a href="?listings_page={{ listings_page_obj.next_page_number }}">next</a>
                <a href="?listings_page={{ listings_page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>    
    <a type="button" class="button button-black button-smaller" href="{% url 'new-listing' %}">Upload Listing</a>
</div>
