<div class="listings">
    <h2>Listings</h2>
    <table class="listings-table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Title</th>
                <th>Listing</th>
                <th>Price</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings_page_obj %}
            <tr class="{% if listing.type == 'new' %}new-listing{% else %}used-listing{% endif %}">
                <td>FIG-123</td>
                <td>{{ listing.title }}</td>
                <td>Listing {{ forloop.counter }}</td>
                <td>${{ listing.price }}</td>
                <td>{{ listing.created_at|date:"M d" }}</td>
                <td><a href="{% url 'manage-listing' listing.id %}" class="manage-button">Manage</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if listings_page_obj.has_previous %}
                <a href="?listings_page=1">&laquo; first</a>
                <a href="?listings_page={{ listings_page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ listings_page_obj.number }} of {{ listings_page_obj.paginator.num_pages }}.
            </span>
            {% if listings_page_obj.has_next %}
                <a href="?listings_page={{ listings_page_obj.next_page_number }}">next</a>
                <a href="?listings_page={{ listings_page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <a type="button" class="button button-black button-smaller" href="{% url 'new-listing' %}">Upload Listing</a>
</div>
