{% extends 'base.html' %}

{% block title %}Manage Seller - Auto Haven{% endblock %}
{% block pageStyles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}">
{% endblock %}

{% block content %}
<section class="container content">
    <h1>{{ seller.user.username }}</h1>
    <p>Update the seller’s information</p>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.company_name.label_tag }}
            {{ form.company_name }}
        </div>
        <button type="submit" class="button button-black">Update</button>
    </form>
    <form method="post" style="margin-top: 10px;">
        {% csrf_token %}
        <button type="submit" name="delete" class="button button-red">Delete</button>
    </form>
</section>
{% endblock %}
