<h2>Offers Received on Listings</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Price</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers_page_obj %}
        <tr>
            <td class="title">{{ offer.listing.title }}</td>
            <td class="username">{{ offer.user }}</td>
            <td class="price">${{ offer.offeredPrice }}</td>
            <td class="date">{{ offer.offeredDate|date:"M d" }}</td>
            <td>{{ offer.status }}</td>
            <td>
                <form method="post" action="{% url 'profile' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="offer_id" value="{{ offer.id }}">
                    <button type="submit" name="accept_offer" class="button button-accept">Accept</button>
                    <button type="submit" name="decline_offer" class="button button-decline">Decline</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if offers_page_obj.has_previous %}
            <a href="?offers_page=1">&laquo; first</a>
            <a href="?offers_page={{ offers_page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ offers_page_obj.number }} of {{ offers_page_obj.paginator.num_pages }}.
        </span>
        {% if offers_page_obj.has_next %}
            <a href="?offers_page={{ offers_page_obj.next_page_number }}">next</a>
            <a href="?offers_page={{ offers_page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


