<div class="container">
    <h1>Sellers</h1>
    <p>Manage and view sellers</p>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Company Name</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for seller in sellers %}
            <tr>
                <td>{{ seller.user.username }}</td>
                <td>{{ seller.company_name }}</td>
                <td>{{ seller.user.date_joined }}</td>
                <td>
                    <a href="{% url 'manage_seller' seller.id %}" class="table-action-button">Manage</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="button button-black button-smaller" href="{% url 'upload_new_seller' %}">Upload new seller</a>
</div>
