{% extends 'base.html' %}

{% block title %}New Seller - Auto Haven{% endblock %}

{% block pageStyles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/css/styles.css' %}">
{% endblock %}

{% block content %}
<section class="container">
    <h1>New Seller</h1>
    <p>Fill in the seller's information to create their account</p>
    <form method="post">
        {% csrf_token %}
        
        <div>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div>
            {{ form.company_name.label_tag }}
            {{ form.company_name }}
        </div>
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <button class="button button-black" type="submit">Upload seller</button>
    </form>
</section>
{% endblock %}
